<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="listType === 'active'" class="cy-menu-button"></ion-menu-button>
      <ion-back-button *ngIf="listType === 'inactive'"  [defaultHref]="'/student/list/active'" class="cy-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{listType | capitialise}} Students
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showMore($event)" *ngIf="listType !== 'inactive'">
        <ion-icon slot="icon-only" name="more" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!loaded" class="spinner">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="loaded">
    <ion-searchbar class="cy-student-search" [autocomplete]="'on'" (ionCancel)="cancelSearch()" (ionChange)="searchInput($event)" ></ion-searchbar>
    <app-student-list [listType]="listType" [search]="searchvalue" (studentClickEvent)="studentClicked($event)"></app-student-list>
  </div>

</ion-content>

<ion-footer>
  <div *ngIf="loaded">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="cy-add-student-btn" color="tertiary" (click)="addStudent()">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-footer>
