<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="listType === 'active'" class="cy-menu-button"></ion-menu-button>
      <ion-back-button *ngIf="listType === 'deactive'"  [defaultHref]="'/students/list/active'" class="cy-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{listType | capitialise}} Students
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showMore($event)" *ngIf="listType !== 'deactive'">
        <ion-icon slot="icon-only" name="more" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar class="cy-student-search" [autocomplete]="'on'" (ionCancel)="cancelSearch()" (ionChange)="searchInput($event)" ></ion-searchbar>
  <app-student-list [listType]="listType" [search]="searchvalue"></app-student-list>
</ion-content>
