
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  *ngIf="username == null"></ion-back-button>
      <ion-button *ngIf="username !== null" (click)="backToUserName()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Forgot Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="username !== null">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Verification Code</ion-label>
        <ion-input type="text" formControlName="verification_code"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" formControlName="password1"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input type="password" formControlName="password2"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" [disabled]="forgotPasswordForm.invalid">Reset Password</ion-button>
  </form>
</ion-content>

<ion-content *ngIf="username === null">
  <form [formGroup]="usernameForm" (ngSubmit)="usernameSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" [disabled]="usernameForm.invalid">Get code</ion-button>
  </form>
</ion-content>
