<!--<div class="videos-details">-->

<!--  <h3 class="header">Add a photo</h3>-->

<!--  <div class="footer">-->
<!--    <ion-toolbar>-->
<!--      <div class="half-button-size">-->
<!--        <ion-button (click)="back()" color="secondary" expand="full">Back</ion-button>-->
<!--        <ion-button (click)="next()" class="cy-add-student-submit" color="tertiary" expand="full" type="submit">Save and Continue-->
<!--        </ion-button>-->
<!--      </div>-->
<!--    </ion-toolbar>-->
<!--  </div>-->
<!--</div>-->
