.footer {
  ion-toolbar {
    position: fixed;
    bottom: 0;
  }


  .half-button-size {
    display: flex;
    justify-content: space-around;

    ion-button {
      width: 50%;
    }
  }
}

.videos-details {
  .header {
    text-align: center;
  }
}
