
<!--<div class="file-picker-container">-->
<!--  <ion-button (click)="onSubmit()" color="secondary" expand="full" [disabled]="fileData === null">Upload</ion-button>-->

<!--  <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (fileDropped)="fileProgress($event)">-->
<!--    <input hidden type="file" #fileInput (change)="fileProgress($event)">-->
<!--  </div>-->
<!--  <div *ngIf="fileUploadProgress">-->
<!--    Upload progress: {{ fileUploadProgress }}-->
<!--  </div>-->
<!--  <div class="image-preview mb-3" *ngIf="previewUrl">-->
<!--    <img [src]="previewUrl" height="300" />-->
<!--  </div>-->

<!--</div>-->


<div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="cy-add-student-btn" color="tertiary" (click)="fileInput.click()">
      <input hidden type="file" #fileInput [multiple]="true" (change)="chooseFile($event.target.files)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
