 <ion-list class="cy-student-list student-attended">
    <ion-item class="cy-student-list-item cy-student-in-attendance" lines="none" button="false" [class]="'student-' + student.hbId" *ngFor="let student of attendance | alphabeticalstudents; let i = index">
      <ion-label>
       {{i+1}}. {{student.name.firstname | capitialise}} {{student.name.lastname | capitialise}}
      </ion-label>
      <ion-note slot="end">
        <app-grade-badge [grade]="student.grade"></app-grade-badge>
      </ion-note>
    </ion-item>

    <p *ngIf="attendance.length == 0" class="cy-no-attendance-list no-attendance-list">No one was in attendance</p>

  </ion-list>

