<ion-card>
  <ion-card-header>
    <ion-item>
      Attendance ({{attendance.length}})
<!--      <button ion-button outline item-end color="orange" (click)="editAttedanceButton()">Edit</button>-->
    </ion-item>
  </ion-card-header>
  <ion-card-content *ngIf="attendance.length > 0" class="cy-attendance-list attendance-list">
    <ion-list>
      <ion-item *ngFor="let student of attendance" class="cy-student-in-attendance">
        <ion-label>
          {{student.name.firstname | capitialise}} {{student.name.lastname | capitialise}}
        </ion-label>
        <ion-note slot="end">
          <app-grade-badge [grade]="student.grade"></app-grade-badge>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-card-content>
  <ion-card-content *ngIf="attendance.length == 0" class="cy-no-attendance-list no-attendance-list">
    <p>No one was in attendance</p>
  </ion-card-content>
</ion-card>
