<div class="videos-details">

  <h3 class="header">Videos</h3>

  <div class="videos">

    <ion-card button="true" (click)="newVideo()">
      <ion-img src="/assets/shapes.svg"></ion-img>

      <ion-card-header>
        <ion-card-title>Makko Chigi 4</ion-card-title>
        <ion-card-subtitle>Family</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Notes- Descption about this video
      </ion-card-content>
    </ion-card>

    <ion-card button="true" (click)="newVideo()">
      <ion-img src="/assets/shapes.svg"></ion-img>

      <ion-card-header>
        <ion-card-title>Makko Chigi 4</ion-card-title>
        <ion-card-subtitle>Family</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Notes- Descption about this video
      </ion-card-content>
    </ion-card>

    <ion-card button="true" (click)="newVideo()">
      <ion-img src="/assets/shapes.svg"></ion-img>

      <ion-card-header>
        <ion-card-title>Makko Chigi 4</ion-card-title>
        <ion-card-subtitle>Family</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Notes- Descption about this video
      </ion-card-content>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button class="cy-add-video-btn" color="tertiary" (click)="newVideo()">
        <ion-icon name="videocam"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>

  <div class="footer">
    <ion-toolbar>
      <div class="half-button-size">
        <ion-button (click)="back()" color="secondary" expand="full">Back</ion-button>
        <ion-button (click)="next()" class="cy-add-student-submit" color="tertiary" expand="full" type="submit">Save and Continue
        </ion-button>
      </div>
    </ion-toolbar>
  </div>
</div>
