<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/class/list'" class="cy-back-button"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="cy-delete-class" (click)="delete()" [disabled]="(aclass | async)?.attendance.length > 0">
        <ion-icon [icon]="'trash'" ></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile" >
    <ion-text color="secondary" class="cy-class-title">
      <h1>{{(aclass | async)?.date | date: 'dd MMM yyyy'}} - {{(aclass | async)?.classType | capitialise}} Class</h1>
    </ion-text>
  </div>

  <div class="general-class" *ngIf="segment === 'general'">
    <app-class-view-general></app-class-view-general>
  </div>

  <div *ngIf="segment === 'attendance'">
    <app-view-attendance></app-view-attendance>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="cy-add-attendance-btn" color="tertiary" (click)="attendance()">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" color="secondary">
      <ion-segment-button value="general" checked class="cy-class-details-general">
        <ion-icon name="calendar"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="attendance" class="cy-class-details-attendance">
        <ion-icon name="people"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
