.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2860ac;
  padding-top: 20px;
  padding-bottom: 10px;

  h1 {
    text-align: center;
  }
}


