.footer {
  ion-toolbar {
    position: fixed;
    bottom: 0;
  }


  .half-button-size {
    display: flex;
    justify-content: space-around;

    ion-button {
      width: 50%;
    }
  }
}

:host ::ng-deep app-validation-error-message .error-message {
  margin-left: 16px;
}

.edit-video-details {
  .header {
    text-align: center;
  }

  .video-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .video-details {
      flex-grow: 1;
      min-width: 400px;

      .tag-group {
        .tag-group-with-btn {
          display: flex;
          justify-content: space-between;

          .ion-form-group {
            width: 100%;
          }

          ion-button {
            align-self: flex-end;
          }
        }
      }
    }

    .video-upload {
      flex-grow: 1;
      min-width: 400px;

      .uploadfilecontainer {
        background-image: url("src/assets/upload-cloud.png");
        background-repeat: no-repeat;
        background-size: 100px;
        background-position: center;
        height: 200px;
        width: 80%;
        margin: 20px auto;
        border: 2px dashed #1C8ADB;
        border-radius: 10px;
      }

      .uploadfilecontainer:hover {
        cursor: pointer;
        background-color: #9ecbec !important;
        opacity: 0.8;
      }

      .files-list {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 10px auto;
        background: #ffffff;
        border: 1px dashed;
        border-radius: 12px;
        padding: 5px;
        color: #1c8adb;
      }

      ion-icon {
        font-size: 20px;
      }

    }
  }
}
