.side-pane {
  height: 100%;
}

@media screen and (min-width: 600px) {
    :host {
      flex-basis: 0%;
      background: white;
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
      transition: flex-basis 0.5s, opacity 0.3s;
      overflow: hidden;
      opacity: 0;
  }

  :host.open {
    flex-basis: 25%;
    opacity: 100%;
    transition: flex-basis 1s, opacity 1s;
  }
}

@media screen and (max-width: 600px) {
  :host {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    opacity: 0;
    overflow-x: hidden;
    transition: width 0.5s, opacity 0.3s;
    padding-top: 60px;
  }

  :host.open {
    width: 100%;
    opacity: 100%;
    transition: width 0.5s, opacity 0.3s;
  }


}



