.half-button-size {
    display: flex;

    ion-button {
        width: 50%;
    }
}

ion-icon {
    margin-bottom: 0;
}


ion-text {
    text-align: left;
}

.error-message {
    color: #d92026;
    margin-left: 70px;
}
