// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #104EA3;
  --ion-color-primary-rgb: 16,78,163;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #0e458f;
  --ion-color-primary-tint: #2860ac;

  --ion-color-secondary: #FDDA3E;
  --ion-color-secondary-rgb: 253,218,62;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #dfc037;
  --ion-color-secondary-tint: #fdde51;

  --ion-color-tertiary: #6CCDF2;
  --ion-color-tertiary-rgb: 108,205,242;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #5fb4d5;
  --ion-color-tertiary-tint: #7bd2f3;

  --ion-color-success: #00db34;
  --ion-color-success-rgb: 0,219,52;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #00c12e;
  --ion-color-success-tint: #1adf48;

  --ion-color-warning: #ffac00;
  --ion-color-warning-rgb: 255,172,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e09700;
  --ion-color-warning-tint: #ffb41a;

  --ion-color-danger: #d92026;
  --ion-color-danger-rgb: 217,32,38;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #bf1c21;
  --ion-color-danger-tint: #dd363c;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  --custom-background-color: whitesmoke;

  --box-shadow-default: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);


}
