<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div>
  <ion-list class="cy-student-list"  *ngFor="let student of filteredStudents | async | alphabeticalstudents; let i = index;">
    <ion-item-sliding #slidestudent [class]="'student-' + student.hbId">
      <ion-item class="cy-student-list-item" button="true" type="button" [lines]="full" (click)="selectStudent(student, i)">
        <ion-label>
          {{student.name.firstname | capitialise}} {{student.name.lastname | capitialise}}
          <app-missed-class-warning [student]="student" [showDays]="false"></app-missed-class-warning>
        </ion-label>
        <ion-note slot="end">
          <app-grade-badge [grade]="student.grade"></app-grade-badge>
        </ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" *ngIf="listType === 'active'" (click)="deactivate(student.hbId, i, slidestudent)">Deactivate</ion-item-option>
        <ion-item-option color="danger" *ngIf="listType !== 'active'" (click)="activate(student.hbId, i, slidestudent)">Activate</ion-item-option>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</div>
