
.white {
    background-color: whitesmoke;
    color: dimgrey;
}

.yellow {
    background-color: gold;
    color: dimgrey
}

.blue {
    background-color: #3B73FF;
    color: lightgray;

}

.red {
    background-color: red;
    color: lightgray;

}

.black {
    background-color: black;
    color: lightgray;
}

.text-white {
    color: black;
}

.text-yellow {
    color: #ab8e00;
}

.text-blue {
    color:  #3B73FF;
}

.text-red {
    color:  red;
}

.text-black {
    color:  black;
}


