@media screen and (min-width: 600px) {

  .breadcrumbs {
    display: flex;
    width: 70vw;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;

    .breadcrumb {
      font-size: 20px;
      margin: 5px;
      font-weight: bold;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      .bold {
        font-weight: 900;
      }

      button {
        background: var(--custom-background-color);
        font-size: 20px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
        min-width: 1px;
      }
    }
  }
}



@media screen and (max-width: 600px) {

  .breadcrumbs {
    display: flex;
    width: 100%;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    flex-wrap: wrap;

    .breadcrumb {
      font-size: 20px;
      margin: 5px;
      font-weight: bold;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      .bold {
        font-weight: 900;
      }

      button {
        background: var(--custom-background-color);
        font-size: 20px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
        min-width: 1px;
      }
    }
  }
}

