<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/class/view/' + classId" class="cy-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Attendance
    </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="studentsAttended" class="cy-attended-btn">
        Attended
      </ion-segment-button>
      <ion-segment-button value="not-attended" class="cy-not-attended-btn">
        Not Attended
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="segment" padding>

    <div *ngIf="!loaded" class="spinner">
      <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="loaded">
      <div *ngSwitchCase="'studentsAttended'" class="student-attended">

        <div *ngIf="(attendance | async | attendanceFilterPipe).length === 0">
          <p class="no-students">Please add some students</p>
        </div>

        <ion-list class="cy-student-list">
          <ion-item class="cy-student-list-item" lines="none" button="true" [class]="'student-' + student.hbId" (click)="removeStudentFromClass(student, i)" *ngFor="let student of attendance | async | attendanceFilterPipe; let i = index">
              <ion-label>
                {{student.name.firstname | capitialise}} {{student.name.lastname | capitialise}}
              </ion-label>
              <ion-note slot="end">
                <app-grade-badge [grade]="student.grade"></app-grade-badge>
              </ion-note>
          </ion-item>

        </ion-list>


      </div>

        <div *ngSwitchCase="'not-attended'" class="students-not-attended">
          <ion-searchbar class="cy-student-search" [autocomplete]="'on'" (ionCancel)="cancelSearch()" (ionChange)="searchInput($event)" ></ion-searchbar>

          <ion-list class="cy-student-list">
            <ion-item class="cy-student-list-item" button="true" [class]="'student-' + student.hbId" (click)="addStudentToClass(student)" *ngFor="let student of attendance | async | activeStudents | studentNameFilter: searchvalue ; let i = index" [disabled]="student['attended']">
              <ion-label>
                {{student.name.firstname | capitialise}} {{student.name.lastname | capitialise}}
                <app-missed-class-warning [student]="student" [showDays]="false"></app-missed-class-warning>
              </ion-label>
              <ion-note slot="end">
                <app-grade-badge [grade]="student.grade"></app-grade-badge>
              </ion-note>
            </ion-item>
          </ion-list>

        </div>

    </div>


  </div>

</ion-content>
