<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/class/view/' + classId" class="cy-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Attendance
    </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="studentsAttended" class="cy-attended-btn">
        Attended
      </ion-segment-button>
      <ion-segment-button value="not-attended" class="cy-not-attended-btn">
        Not Attended
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="segment" padding>

    <div *ngIf="!loaded" class="spinner">
      <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="loaded">
      <div *ngSwitchCase="'studentsAttended'" class="student-attended">

        <div *ngIf="(attendance | attendanceFilterPipe).length === 0">
          <p class="no-students">Please add some students</p>
        </div>

        <ion-list class="cy-student-list">
          <ng-container *ngFor="let student of attendance | attendanceFilterPipe; let i = index">
            <ion-item *ngIf="student.attended" tappable mode="ios" class="cy-student-list-item" lines="none" button="true" [class]="'student-' + student.hbId" (click)="removeStudentFromClass(student, i)" >
                <ion-label>
                  {{i+1}}. {{student.name.firstname}} {{student.name.lastname}}
                </ion-label>
                <ion-note slot="end">
                  <app-grade-badge [grade]="student.grade"></app-grade-badge>
                </ion-note>
            </ion-item>
          </ng-container>
        </ion-list>


      </div>

        <div *ngSwitchCase="'not-attended'" class="students-not-attended">
          <ion-list class="cy-student-list">
            <ion-item tappable mode="ios" class="cy-student-list-item" button="true" [class]="'student-' + student.hbId" (click)="addStudentToClass(student)" *ngFor="let student of attendance | activeStudents; let i = index" [disabled]="student['attended']">
              <ion-label>
                {{student.name.firstname}} {{student.name.lastname}}
                <app-missed-class-warning [student]="student" [showDays]="false"></app-missed-class-warning>
              </ion-label>
              <ion-note slot="end">
                <app-grade-badge [grade]="student.grade"></app-grade-badge>
              </ion-note>
            </ion-item>
          </ion-list>

        </div>

    </div>
  </div>

</ion-content>
