.item-divider{
  font-weight: bold;
}

ion-list {
  background-color: var(--custom-background-color);
}


.student-attended {
  p {
    text-align: center;
  }

  ion-item {
    margin: 12px 12px 0px 12px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);

    ion-label {
      color: black;
    }
  }
}

.students-not-attended {
  ion-list {
    margin: 10px 10px 0px 10px;

  }
}

