<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <auth-component-lib></auth-component-lib>

  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Instructor</ion-label>
        <ion-input class="cy-username" name="username" formControlName="instructor" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input class="cy-password" name="password" type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" class="cy-sign-in-btn" color="primary" expand="block" [disabled]="signInForm.invalid">Sign In</ion-button>
    <ion-button type="button" class="cy-forgot-btn" color="tertiary" fill="clear" (click)="forgotPasswordButton()">Forgot Password</ion-button>

  </form>

</ion-content>
