<ion-header>
  <ion-toolbar>
    <ion-title>sign-in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Instructor</ion-label>
        <ion-input formControlName="instructor" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" color="primary" expand="block" [disabled]="signInForm.invalid">Sign In</ion-button>
  </form>

</ion-content>
