<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Force Password Change
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input class="cy-username" name="fp-username" type="text" formControlName="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input class="cy-password1" name="password1" type="password" formControlName="password1"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input class="cy-password2" name="password2" type="password" formControlName="password2"></ion-input>
      </ion-item>

    </ion-list>
    <ion-button
      class="cy-force-password-submit"
      type="submit"
      color="primary"
      expand="block"
      [disabled]="resetPasswordForm.invalid">
        Reset Password
    </ion-button>
  </form>
</ion-content>
