.welcome-card ion-img {
  max-height: 40vh;
  overflow: hidden;
  padding: 10px;
  max-width: 400px;
  width: 400px;

}

.welcome-card {
  text-align: center;
}

ion-card-header{
  font-size: 16px;
  color: black;
  font-weight: 600;
  margin: 0;
  padding: 12px 12px 0px 12px;
}

ion-card {
  width: 400px;
}

.for-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spinner{
  text-align: center;
  padding: 10px 10px 20px 10px;
}

.add-class-btn {
    margin: 12px;
}

