<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button class="cy-menu-button"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{env}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="for-flex">

    <ion-card class="welcome-card">
      <ion-img src="/assets/home-page.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Hapkido Brisbane App for administrators</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>In this app you can add new students, create classes and add attendance to those classes.</p>
      </ion-card-content>
    </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>Today's Classes</ion-card-subtitle>
      <ion-card-title>{{date | date:'dd MMM yyyy'}}</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item button="true" type="button" class="cy-class-list-item" *ngFor="let aclass of classesOnDay | orderDates: 'ascending'" (click)="classSelected(aclass)">
        <ion-label>
          <ion-text slot="start">{{aclass.classType}} class {{aclass.date | date: 'h:mm aa'}}</ion-text>
        </ion-label>
        <ion-text slot="end">{{aclass.attendance.length}}</ion-text>
      </ion-item>
    </ion-list>
  </ion-card>
  </div>

</ion-content>
