<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button class="cy-menu-button"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{env}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="cy-refresh-data" (click)="refreshData()">
        <ion-icon [icon]="'sync'" ></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="for-flex">

    <div class="welcome-card">
      <ion-img src="/assets/home-page.png"></ion-img>
      <h1>{{date | date:'dd MMM yyyy'}}</h1>

    </div>

<div>


  <ion-card>
    <ion-card-header>
      Today's Classes:
    </ion-card-header>
    <div class="spinner" *ngIf="!loaded">
      <ion-spinner ></ion-spinner>
    </div>

    <ion-list *ngIf="loaded" lines="none">
      <ion-item button="true" type="button" class="cy-class-list-item" *ngFor="let aclass of todaysClasses | async | orderDates: 'ascending'" (click)="classSelected(aclass)">
        <ion-label class="class-label">
          <ion-row>
            <ion-col>
              {{aclass.date | date: 'h:mmaa'}}
            </ion-col>
            <ion-col>
              {{aclass.classType}}
            </ion-col>

          </ion-row>
        </ion-label>
<!--        <span>{{aclass.attendance.length}}</span>-->

        <ion-button expand="full" slot="end" color="danger" (click)="classSelected(aclass)">Attendance</ion-button>
      </ion-item>
      <ion-item class="cy-class-list-item" *ngIf="(todaysClasses | async).length === 0">
        <ion-label>
          No classes
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

    <ion-button size="large" color="secondary" expand="full" class="cy-class-list-item add-class-btn" *ngIf="classesOnDay.length === 0" (click)="addClass()">
      <ion-icon slot="start" name="add"></ion-icon>
      Add new class
    </ion-button>
  </div>
  </div>



</ion-content>
