.spinner{
  text-align: center;
  padding: 10px 10px 20px 10px;

}

ion-row{
  display: flex;
  flex-wrap: wrap;
}

ion-item {
  margin: 12px 0;
  box-shadow: var(--box-shadow-default);

}

ion-list {
  background-color: var(--custom-background-color);
}



.class-list{
  min-width: 400px;
}
