<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-item>
    <ion-label >
      <ion-text class="ut-username-label" color="primary">
        <h3>Username</h3>
      </ion-text>
      <ion-text class="ut-username">
        <p>{{username}}</p>
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label >
      <ion-text class="ut-email-label" color="primary">
        <h3>Email</h3>
      </ion-text>
      <ion-text class="ut-email">
        <p *ngIf="userAttributes">{{userAttributes?.email}} <span *ngIf="userAttributes?.emailVerified !== 'true'">(Not Verified)</span></p>
      </ion-text>
    </ion-label>
  </ion-item>


  <div *ngIf="userAttributes">
    <div *ngIf="userAttributes?.emailVerified === 'false'">
      <div *ngIf="!codeSent">
        <p class="cy-email-is-not-verified"><b>To make sure you can reset your password if you forget it we need to make sure your email is verified.</b></p>
        <ion-button class="cy-send-email-verify-code" expand="block" (click)="sendCode()">Send Code</ion-button>
      </div>
    </div>
  </div>


</ion-content>
